[submodule "mods/vacuum"]
	path = mods/vacuum
	url = git@github.com:CryptechTest/vacuum.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = git@github.com:CryptechTest/3d_armor.git
[submodule "mods/scifi_nodes"]
	path = mods/scifi_nodes
	url = git@github.com:D00Med/scifi_nodes.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = git@github.com:CryptechTest/unified_inventory.git
[submodule "mods/skinsdb"]
	path = mods/skinsdb
	url = git@github.com:CryptechTest/skinsdb.git
[submodule "mods/minetest_doc"]
	path = mods/minetest_doc
	url = git@github.com:CryptechTest/minetest_doc.git
[submodule "mods/minetest_hudbars"]
	path = mods/minetest_hudbars
	url = git@github.com:CryptechTest/minetest_hudbars.git
[submodule "mods/stamina"]
	path = mods/stamina
	url = git@github.com:CryptechTest/stamina.git
[submodule "mods/minetest_playereffects"]
	path = mods/minetest_playereffects
	url = git@github.com:CryptechTest/minetest_playereffects.git
[submodule "mods/illumination"]
	path = mods/illumination
	url = git@github.com:mt-mods/illumination.git
[submodule "mods/radiant_damage"]
	path = mods/radiant_damage
	url = git@github.com:CryptechTest/radiant_damage.git
[submodule "mods/invisible"]
	path = mods/invisible
	url = git@github.com:AiTechEye/invisible.git
[submodule "mods/notices"]
	path = mods/notices
	url = git@github.com:LoneWolfHT/notices.git
[submodule "mods/localchat"]
	path = mods/localchat
	url = git@github.com:qPexLegendary/MineTest-LocalChat.git
[submodule "mods/minetest_tt"]
	path = mods/minetest_tt
	url = git@github.com:CryptechTest/minetest_tt.git
[submodule "mods/spacesuit"]
	path = mods/spacesuit
	url = git@github.com:CryptechTest/spacesuit.git
[submodule "mods/other_worlds"]
	path = mods/other_worlds
	url = git@github.com:CryptechTest/other_worlds.git
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = git@github.com:mt-mods/basic_materials.git
[submodule "mods/player_monoids"]
	path = mods/player_monoids
	url = git@github.com:minetest-mods/player_monoids.git
[submodule "mods/playerlist"]
	path = mods/playerlist
	url = git@github.com:LizzyFleckenstein03/playerlist.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = git@github.com:minetest-mods/digilines.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = git@github.com:minetest-mods/mesecons.git
[submodule "mods/digiterms"]
	path = mods/digiterms
	url = git@github.com:pyrollo/digiterms.git
[submodule "mods/letters"]
	path = mods/letters
	url = git@github.com:minetest-mods/letters.git
[submodule "mods/keyring"]
	path = mods/keyring
	url = git@github.com:louisroyer-minetest/keyring.git
[submodule "mods/controls"]
	path = mods/controls
	url = git@github.com:mt-mods/controls.git
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = git@github.com:mt-mods/unifieddyes.git
[submodule "mods/bottles"]
	path = mods/bottles
	url = git@github.com:EmptyStar/bottles.git
[submodule "mods/technic"]
	path = mods/technic
	url = git@github.com:CryptechTest/technic.git
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = git@github.com:CryptechTest/pipeworks.git
[submodule "mods/fluid_lib"]
	path = mods/fluid_lib
	url = git@github.com:CryptechTest/fluid_lib.git
[submodule "mods/awards"]
	path = mods/awards
	url = git@github.com:CryptechTest/awards.git
[submodule "mods/techpack_stairway"]
	path = mods/techpack_stairway
	url = git@github.com:joe7575/techpack_stairway.git
[submodule "mods/digistuff"]
	path = mods/digistuff
	url = git@github.com:CryptechTest/digistuff.git
[submodule "mods/crops"]
	path = mods/crops
	url = git@github.com:minetest-mods/crops.git
[submodule "mods/modlib"]
	path = mods/modlib
	url = git@github.com:appgurueu/modlib.git
[submodule "mods/character_anim"]
	path = mods/character_anim
	url = git@github.com:appgurueu/character_anim.git
[submodule "mods/3d_armor_flyswim"]
	path = mods/3d_armor_flyswim
	url = git@github.com:sirrobzeroone/3d_armor_flyswim.git
[submodule "mods/lwcomputers"]
	path = mods/lwcomputers
	url = git@github.com:loosewheel/lwcomputers.git
[submodule "mods/lwcomputers_software"]
	path = mods/lwcomputers_software
	url = git@github.com:loosewheel/lwcomputers_software.git
[submodule "mods/lwwires"]
	path = mods/lwwires
	url = git@github.com:loosewheel/lwwires.git
[submodule "mods/unified_inventory_themes"]
	path = mods/unified_inventory_themes
	url = git@github.com:CryptechTest/unified_inventory_themes.git
[submodule "mods/emoji"]
	path = mods/emoji
	url = git@github.com:bosapara/emoji.git
[submodule "mods/formspec_ast"]
	path = mods/formspec_ast
	url = git@github.com:CryptechTest/formspec_ast.git
[submodule "mods/jetpack"]
	path = mods/jetpack
	url = git@github.com:CryptechTest/sum_jetpack.git
[submodule "mods/bedrock"]
	path = mods/bedrock
	url = git@github.com:CryptechTest/bedrock.git
[submodule "mods/ufo_ship"]
	path = mods/ufo_ship
	url = git@github.com:CryptechTest/ufo_ship.git
[submodule "mods/wield3d"]
	path = mods/wield3d
	url = https://github.com/stujones11/wield3d.git
[submodule "mods/hopper"]
	path = mods/hopper
	url = git@github.com:CryptechTest/hopper.git
[submodule "mods/prefab"]
	path = mods/prefab
	url = https://github.com/mt-mods/prefab.git
[submodule "mods/stainedglass"]
	path = mods/stainedglass
	url = git@github.com:CryptechTest/stainedglass.git
[submodule "mods/itemshelf"]
	path = mods/itemshelf
	url = https://github.com/hkzorman/itemshelf.git
[submodule "mods/minetest_doc_items"]
	path = mods/minetest_doc_items
	url = git@github.com:CryptechTest/minetest_doc_items.git
[submodule "mods/minetest_doc_basics"]
	path = mods/minetest_doc_basics
	url = git@github.com:CryptechTest/minetest_doc_basics.git
[submodule "mods/x_farming"]
	path = mods/x_farming
	url = git@github.com:CryptechTest/x_farming.git
[submodule "mods/plantlife_modpack"]
	path = mods/plantlife_modpack
	url = git@github.com:CryptechTest/plantlife_modpack.git
[submodule "mods/biome_lib"]
	path = mods/biome_lib
	url = git@github.com:mt-mods/biome_lib.git
[submodule "mods/moreores"]
	path = mods/moreores
	url = git@github.com:minetest-mods/moreores.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = git@github.com:minetest-mods/moreblocks.git
[submodule "mods/mobs"]
	path = mods/mobs
	url = git@github.com:CryptechTest/mobs_redo.git
[submodule "mods/mobs_water"]
	path = mods/mobs_water
	url = git@github.com:CryptechTest/mobs_water.git
[submodule "mods/mobs_monster"]
	path = mods/mobs_monster
	url = git@github.com:CryptechTest/mobs_monster.git
[submodule "mods/mobs_ghost"]
	path = mods/mobs_ghost
	url = git@github.com:CryptechTest/mobs_ghost_redo.git
[submodule "mods/minetest_real_suffocation"]
	path = mods/minetest_real_suffocation
	url = git@github.com:CryptechTest/minetest_real_suffocation.git
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = git@github.com:CryptechTest/mobs_animal.git
[submodule "mods/mobs_npc"]
	path = mods/mobs_npc
	url = git@github.com:CryptechTest/mobs_npc.git
[submodule "mods/headlamp"]
	path = mods/headlamp
	url = git@github.com:OgelGames/headlamp.git
[submodule "mods/hyperloop"]
	path = mods/hyperloop
	url = git@github.com:CryptechTest/Minetest-Hyperloop.git
[submodule "mods/tubelib2"]
	path = mods/tubelib2
	url = git@github.com:joe7575/tubelib2.git
[submodule "mods/protector"]
	path = mods/protector
	url = git@github.com:CryptechTest/protector.git
[submodule "mods/ctg_machines"]
	path = mods/ctg_machines
	url = git@github.com:CryptechTest/ctg_machines.git
[submodule "mods/bweapons"]
	path = mods/bweapons
	url = git@github.com:CryptechTest/bweapons_modpack.git
[submodule "mods/ctg_armor"]
	path = mods/ctg_armor
	url = git@github.com:CryptechTest/ctg_armor.git
