[submodule "mods/vacuum"]
	path = mods/vacuum
	url = git@github.com:CryptechTest/vacuum.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = git@github.com:minetest-mods/3d_armor.git
[submodule "mods/scifi_nodes"]
	path = mods/scifi_nodes
	url = git@github.com:D00Med/scifi_nodes.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = git@github.com:minetest-mods/unified_inventory.git
[submodule "mods/skinsdb"]
	path = mods/skinsdb
	url = git@github.com:minetest-mods/skinsdb.git
[submodule "mods/minetest_doc"]
	path = mods/minetest_doc
	url = git@github.com:CryptechTest/minetest_doc.git
[submodule "mods/minetest_hudbars"]
	path = mods/minetest_hudbars
	url = git@github.com:CryptechTest/minetest_hudbars.git
[submodule "mods/stamina"]
	path = mods/stamina
	url = git@github.com:CryptechTest/stamina.git
[submodule "mods/minetest_playereffects"]
	path = mods/minetest_playereffects
	url = git@github.com:CryptechTest/minetest_playereffects.git
[submodule "mods/illumination"]
	path = mods/illumination
	url = git@github.com:mt-mods/illumination.git
[submodule "mods/radiant_damage"]
	path = mods/radiant_damage
	url = git@github.com:minetest-mods/radiant_damage.git
[submodule "mods/invisible"]
	path = mods/invisible
	url = git@github.com:AiTechEye/invisible.git
[submodule "mods/notices"]
	path = mods/notices
	url = git@github.com:LoneWolfHT/notices.git
[submodule "mods/localchat"]
	path = mods/localchat
	url = git@github.com:qPexLegendary/MineTest-LocalChat.git
[submodule "mods/wield3d"]
	path = mods/wield3d
	url = git@github.com:stujones11/wield3d.git
[submodule "mods/minetest_tt"]
	path = mods/minetest_tt
	url = git@github.com:CryptechTest/minetest_tt.git
[submodule "mods/spacesuit"]
	path = mods/spacesuit
	url = git@github.com:mt-mods/spacesuit.git
[submodule "mods/other_worlds"]
	path = mods/other_worlds
	url = git@github.com:CryptechTest/other_worlds.git
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = git@github.com:mt-mods/basic_materials.git
[submodule "mods/player_monoids"]
	path = mods/player_monoids
	url = git@github.com:minetest-mods/player_monoids.git
[submodule "mods/playerlist"]
	path = mods/playerlist
	url = git@github.com:LizzyFleckenstein03/playerlist.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = git@github.com:minetest-mods/digilines.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = git@github.com:minetest-mods/mesecons.git
[submodule "mods/digiterms"]
	path = mods/digiterms
	url = git@github.com:pyrollo/digiterms.git
[submodule "mods/letters"]
	path = mods/letters
	url = git@github.com:minetest-mods/letters.git
[submodule "mods/keyring"]
	path = mods/keyring
	url = git@github.com:louisroyer-minetest/keyring.git
[submodule "mods/controls"]
	path = mods/controls
	url = git@github.com:mt-mods/controls.git
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = git@github.com:mt-mods/unifieddyes.git
[submodule "mods/bottles"]
	path = mods/bottles
	url = git@github.com:EmptyStar/bottles.git
[submodule "mods/visible_sneak"]
	path = mods/visible_sneak
	url = git@github.com:niwla23/visible_sneak.git
[submodule "mods/sfinv"]
	path = mods/sfinv
	url = git@github.com:rubenwardy/sfinv.git
[submodule "mods/technic"]
	path = mods/technic
	url = git@github.com:minetest-mods/technic.git
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = git@github.com:mt-mods/pipeworks.git
[submodule "mods/fluid_lib"]
	path = mods/fluid_lib
	url = git@github.com:CryptechTest/fluid_lib.git
[submodule "mods/creatura"]
	path = mods/creatura
	url = git@github.com:ElCeejo/creatura.git
[submodule "mods/animalia"]
	path = mods/animalia
	url = git@github.com:ElCeejo/animalia.git
[submodule "mods/awards"]
	path = mods/awards
	url = git@github.com:CryptechTest/awards.git
[submodule "mods/techpack_stairway"]
	path = mods/techpack_stairway
	url = git@github.com:joe7575/techpack_stairway.git
[submodule "mods/digistuff"]
	path = mods/digistuff
	url = git@github.com:CryptechTest/digistuff.git
[submodule "mods/composting"]
	path = mods/composting
	url = git@github.com:sfence/composting.git
[submodule "mods/crops"]
	path = mods/crops
	url = git@github.com:minetest-mods/crops.git
[submodule "mods/server_news"]
	path = mods/server_news
	url = git@github.com:Ezhh/server_news.git
[submodule "mods/modlib"]
	path = mods/modlib
	url = git@github.com:appgurueu/modlib.git
[submodule "mods/character_anim"]
	path = mods/character_anim
	url = git@github.com:appgurueu/character_anim.git
[submodule "mods/3d_armor_flyswim"]
	path = mods/3d_armor_flyswim
	url = git@github.com:sirrobzeroone/3d_armor_flyswim.git
[submodule "mods/lwcomponents"]
	path = mods/lwcomponents
	url = git@github.com:loosewheel/lwcomponents.git
[submodule "mods/lwcomputers"]
	path = mods/lwcomputers
	url = git@github.com:loosewheel/lwcomputers.git
[submodule "mods/lwcomputers_software"]
	path = mods/lwcomputers_software
	url = git@github.com:loosewheel/lwcomputers_software.git
[submodule "mods/lwwires"]
	path = mods/lwwires
	url = git@github.com:loosewheel/lwwires.git
[submodule "mods/unified_inventory_themes"]
	path = mods/unified_inventory_themes
	url = git@github.com:CryptechTest/unified_inventory_themes.git
[submodule "mods/emoji"]
	path = mods/emoji
	url = git@github.com:bosapara/emoji.git
[submodule "mods/factions"]
	path = mods/factions
	url = git@github.com:CodeScratcher/factions-mod.git
[submodule "mods/news_markdown"]
	path = mods/news_markdown
	url = git@github.com:Bituvo/news_markdown.git
[submodule "mods/markdown2formspec2"]
	path = mods/markdown2formspec2
	url = git@github.com:ExeVirus/markdown2formspec2.git
[submodule "mods/formspec_ast"]
	path = mods/formspec_ast
	url = git@github.com:CryptechTest/formspec_ast.git
